<div class ="container">

  <p class ="text-center mt-5">
    ようこそ、ながのＣＡＫＥへ！<br>
    このサイトは、ケーキ販売のＥＣサイトになります。<br>
    会員でないかたも商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>

  <div class="row">
    <h2 class="bg-light">新着商品</h2>
  </div>

  <div class="row">
  <% @item.each do |item| %>
    <div class ="item_group col-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(200,200) %><br>
      <% end %>
      <%= item.name %><br>
      ¥<%= item.price %>
    </div>
  <% end %>
  </div>

  <%= link_to "全ての商品を見る",  items_path %>
</div>