<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集画面</h3>


<%= form_with model: @customer, url:admin_customer_path(@customer.id) do |f| %>

  <div class="group">
    <label for= "customer_id">会員ID</label>
    <%= @customer.id  %>
  </div>

  <div class= "field">
    <%= f.label :氏名 %>
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
  </div>

  <div class= "field">
    <%= f.label :フリガナ %>
      <%= f.text_field :last_name_kana %>
      <%= f.text_field :first_name_kana %>
  </div>

  <div class= "field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code %>
  </div>

  <div class= "field">
    <%= f.label :住所 %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木" %>
  </div>

  <div class= "field">
    <%= f.label :電話番号 %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="form_group">
    <label for= "item_is_deleted">会員ステータス</label>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted, "退会" %>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted, "有効" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" , class: "btn btn-success btn-sm" %>
  </div>
<% end %>