<div class="container">

  <div class="row">
    <h2>商品の一覧ページ</h2>(全<%= @item %>件）
  </div>

<div class="row justify-content-between">
<% @items.each do |item| %>
  <div class ="item_group">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(200,200) %><br>
    <% end %>
    <%= item.name %><br>
    ¥<%= item.price %>
  </div>
<% end %>
</div>
</div>